div#header {
  /* position: relative; */
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 20px;
  background-color: var(--darkgray);
}

div#left {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

div#sidebarbuttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
}


button.menubutton {
  width: 20px;
  padding-top: 5px;
  padding-right: 30px;
  background-color: transparent;
  border: none;
}

button.sidebarbutton {
  width: 30px;
  height: 30px;
  /* padding-top: 5px;
  padding-right: 30px; */
  
  border-radius: 5px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

#chatbutton {
  background-color: var(--blue3);
  z-index: 4;
}

#scoreboardbutton {
  background-color: var(--purple2);
  z-index: 4;
}


img#menuicon {
  height: 17px;
}

img#chaticon {
  height: 17px;
  margin-top: 2px;
}

img#scoreboardicon {
  height: 17px;
  /* margin-top: 2px; */
}

img#logo {
  height: 50px;
}

