div#rebuttalOuter {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}

div#rebuttalTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0px;
}

#rebuttalText {
  margin: 10px;
}

div#rebuttalExplanation {
  margin-top: 10px;
}

div#rebuttalExplanation p {
  margin: 0px;
  font-size: 12px;
  color: var(--blue5);
}

button#explanationButton {
  width: 20px;
  height: 20px;
  background-color: var(--blue5);
  color: var(--darkgray);
  border-radius: 10px;
  font-weight: bold;
}

div#rebuttalOptions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3px;
  border-radius: 8px;
  padding: 3px;
  background-color: var(--white);
  width: fit-content;

}

button.rebuttalOption {
  width: 45px;
  height: 35px;
  border: none;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
}

button.rebuttalOption p {
  font-size: 14px;
  font-weight: bold;

}

button#selected {
  background-color: var(--blue1);
  color: var(--white);
}

button#unselected {
  background-color: var(--white);
  color: var(--blue1);
}