div#tableOuter {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;

  background-color: var(--darkgray);
}

div#tableWithPlayers {
  position: relative;
}

div#table {
  width: 800px;
  height: 400px;
  background-size: 600px;
  background-image: url(../../../assets/passemtable.png);
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

div#tablePlayers {
  width: 800px;
  height: 0px;
  position: relative;
  top: -400px;
  left: 0px;
}

div#menu {
  width: 150px;
  height: 0px;
  position: absolute;
  top: 80px;
  left: 0px;

  z-index: 2;

  padding-left: 10px;
}

div#menuInner {
  width: 150px;
  height: 100px;
  /* background-color: var(--black); */
}

button#leave {
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color: var(--pink1);
  color: var(--white);
  font-size: 16px;
  font-weight: bold;
}

div#pigInfo {
  width: 160px;
  height: 110px;
  background-color: var(--darkgray);
  border-radius: 10px;
  border: 5px solid var(--blue3);
  box-shadow: 0px 0px 10px var(--darkgray);
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 5px;
  /* gap: 10px; */
}

div.tableMessage {
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;

  padding-left: 5px;
  padding-right: 5px;
}

#roomName {
  align-self: flex-end;
}

div#pigs {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

div#pigs img {
  width: 60px;
}

div#pigScore {
  width: 90%;
  height: 60px;
  /* align-self: flex-start; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  gap: 5px;

}

p#rollName {
  align-self: flex-end;
  margin: 0;
}

p#rollScore {
  align-self: flex-end;
  margin: 0;
}

div.tablePlayerOuter {
  width: 200px;
}

div.tablePlayer {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  /* border: 5px solid; */
}

div.tablePlayerTurn {
  width: 38px;
  height: 38px;
  border-radius: 20px;

  border: 2px solid var(--white);
}

div.nameTag {
  position: relative;
  left: -40px;
  height: 20px;
  width: 120px;
  /* background-color: pink; */
}

div.nameTag p {
  font-size: 14px;
  /* font-weight: bold; */
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div#tablePlayer-0 {
  position: relative;
  left: 220px;
  top: -30px;
}
div#tablePlayer-1 {
  position: relative;
  left: 380px;
  top: -105px;
}
div#tablePlayer-2 {
  position: relative;
  left: 540px;
  top: -180px;
}
div#tablePlayer-3 {
  position: relative;
  left: 705px;
  top: -80px;
}
div#tablePlayer-4 {
  position: relative;
  left: 540px;
  top: 25px;
}
div#tablePlayer-5 {
  position: relative;
  left: 380px;
  top: -50px;
}
div#tablePlayer-6 {
  position: relative;
  left: 220px;
  top: -125px;
}
div#tablePlayer-7 {
  position: relative;
  left: 55px;
  top: -375px;
}

div#playerColor-0 {
  background-color: var(--purple1);
}
div#playerColor-1 {
  background-color: var(--purple2);
}
div#playerColor-2 {
  background-color: var(--purple3);
}
div#playerColor-3 {
  background-color: var(--purple4);
}
div#playerColor-4 {
  background-color: var(--blue1);
}
div#playerColor-5 {
  background-color: var(--blue2);
}
div#playerColor-6 {
  background-color: var(--blue3);
}
div#playerColor-7 {
  background-color: var(--blue4);
}