div#joinHeader {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

div#outer {
  display: flex;
  justify-content: center;
}

div.inner {
  width: 40%;
}

form {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 15px;
}

div#creationOptions {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

/* input[type=text] */
input {
  width: 60%;
  height: 2.5em;
  padding-left: 10px;
  outline: none;
  background-color: var(--white);
  color: var(--black);
  border: 5px solid var(--blue1);
  border-radius: 10px;
}

div#nameInput {
  display: flex;
  flex-direction: column;
  align-items: center;

}

div#roomInput {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#roomNameText {
  margin: 10px;

}



div#createOrJoin {
  display: flex;
  flex-direction: column;
}



div#buttons {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  
}




div#outer button {
  /* height: 3em; */
  border: none;
}

button.select {
  width: 40%;
  height: 3em;
  font-weight: bold;
  font-size: 16px;
  border-radius: 10px;
}

button#create {
  background-color: var(--pink1);
  color: var(--white);
  
}

button#join {
  background-color: var(--blue5);
  color: var(--white);
}

button#start {
  width: 40%;
  height: 3em;
  align-self: center;
  font-weight: bold;
  font-size: 16px;
  margin-top: 20px;
  border-radius: 10px;
}

button#goback {
  width: 20%;
  height: 2.5em;
  font-size: 12px;
  font-weight: bold;
  align-self: center;
  background-color: var(--gray);
  color: var(--white);
  border-radius: 5px;
}

button.createStart {
  background-color: var(--pink1);
  color: var(--white);
}

button.createJoin {
  background-color: var(--blue5);
  color: var(--white);
}

