div#pigInfo {
  width: 160px;
  height: 110px;
  background-color: var(--darkgray);
  border-radius: 10px;
  border: 5px solid var(--blue3);
  box-shadow: 0px 0px 10px var(--darkgray);
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 5px;
  /* gap: 10px; */
}

div.tableMessage {
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;

  padding-left: 5px;
  padding-right: 5px;
}

#roomName {
  align-self: flex-end;
}

div#pigs {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 10px;
}



div#pigScore {
  width: 90%;
  height: 60px;
  /* align-self: flex-start; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  gap: 5px;

}

p#rollName {
  align-self: flex-end;
  margin: 0;
}

p#rollScore {
  align-self: flex-end;
  margin: 0;
}

.pigImage {
  width: 60px;
  /* transition: transform 3s ease; */
}

.spin1 {
  animation: spin-animation 2s linear 1;
}


.spin2-0 {
  animation: spin-animation45 0.125s ease-out 1;
}
.roll-0 {
  transform: rotate(-45deg);
}

.spin2-1 {
  animation: spin-animation225 0.625s ease-out 1;
}
.roll-1 {
  transform: rotate(-225deg);
}

.spin2-2 {
  animation: spin-animation180 0.5s ease-out 1;
}
.roll-2 {
  transform: rotate(-180deg);
}

.spin2-3 {
  animation: none;
}
.roll-3 {
  transform: rotate(0deg);
}

.spin2-4 {
  animation: spin-animation90 0.25s ease-out 1;
}
.roll-4 {
  transform: rotate(-90deg);
}

.spin2-5 {
  animation: spin-animation135 0.375s ease-out 1;
}
.roll-5 {
  transform: rotate(-135deg);
}

@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-1800deg);
  }
}

@keyframes spin-animation45 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}

@keyframes spin-animation90 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-90deg);
  }
}

@keyframes spin-animation135 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-135deg);
  }
}

@keyframes spin-animation180 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}

@keyframes spin-animation225 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-225deg);
  }
}


